@import url(variables.css);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: var(--color-background);
    width: 100%;
    height: 100vh;
}

.grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "header main main main" 
    "footer main main main"
    ;
}

.container_header{
    /*background: yellow;*/
    grid-area: header;
}

.header_box{
    /*background: red;*/
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_title{
    /*background: violet;*/
    color: var(--color-letras_productos);
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5vh;
}

.header_list{
    /*background: tan;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_list{
    list-style: none;
    line-height: 7vh;
    font-size: 3vh;
}

.a{
    color: var(--color-letras);
    text-decoration: none;
}

.list_objects{
    word-spacing: .5vh;
    font-size: 3.2vh;
}

.container_main{
    /*background: lightblue;*/
    grid-area: main;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_box{
    background: var(--color-back_productos);
    width: 95%;
    height: 90%;
    border-radius: 4vh;
    overflow: auto;
}

.main__header{
    background: var(--color-back_productos);
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 0vh 5vh;
}

.main__title{
    color: var(--color-letras_productos);
    font-size: 3vh;
    text-transform: capitalize;
}

.contenedor_main__mid{
    /*background: red;*/
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_main__box1, .contenedor_main__box2, .contenedor_main__box3{
    background: var(--color-back_descripcion);
    width: 95%;
    height: 25%;
    display: flex;
    flex-direction: row;
}

.mid_img{
    /*background: yellow;*/
    width: 17%;
    height: 100%;
}

.box_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mid_description{
    /*background: lightblue;*/
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    line-height: 5vh;
    text-transform: capitalize;
    font-size: 2.3vh;
}

.mid_quantity{
    /*background: pink;*/
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    text-transform: capitalize;
}

.quantity_text{
    /*background: darkcyan;*/
    width: 100%;
    height: 20%;
    text-transform: capitalize;
    font-size: 2.3vh;
}

.quantity_input{
    /*background: darkgrey;*/
    width: 100%;
    height: 15%;
    display: flex;
    align-items: end;
}

.input{
    width: 80%;
    height: 80%;
}

.mid_price{
    /*background: lightgreen;*/
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    line-height: 5vh;
    font-size: 2.3vh;
    text-transform: capitalize;
}

.mid_total{
    /*background: red;*/
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    line-height: 5vh;
    font-size: 2.3vh;
    text-transform: capitalize;
}

.mid_icon{
    /*background: darkgoldenrod;*/
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}

.contenedor_main__bottom{
    background: var(--color-back_descripcion);
    width: 95%;
    height: 17%;
    display: flex;
    flex-direction: row;
}

.vaciar_carrito{
    background: yellow;
    width: 50%;
    height: 100%;
}

.terminar_venta{
    background: lightblue;
    width: 50%;
    height: 100%;
}

.container_footer{
    /*background: pink;*/
    grid-area: footer;
}

.footer_list{
    /*background: yellow;*/
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.footer__ul_list{
    /*background: darkcyan;*/
    width: 100%;
    list-style: none;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.list_objects__p{
    background: var(--color-back_descripcion);
    width: 40vh;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5vh;
    font-size: 3.2vh;
    border: .5vh solid var(--color-letras);
}

.list_objects{
    word-spacing: .5vh;
    font-size: 3.2vh;
}

.footer__list_p{
    background: var(--color-back_descripcion);
    border: 1px solid var(--color-letras);
    width: 3vh;
    height: 3.5vh;
    text-align: center;
    font-size: 2.8vh;
}

.footer_text{
    /*background: lightgreen;*/
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: stretch;
    align-items: center;
    padding: 0vh 10vh;
}

.footer_p{
    font-size: 2.5vh;
    text-transform: capitalize;
}
