@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Popsins', sans-serif;
}

body{
    background-color: var(--color-secundario);
}

.container_header{
    /*background: blueviolet;*/
    width: 100%;
    height: 13vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "headerL . . . headerR headerR headerR headerR"
    ;
}

.item_header__left{
    /*background: violet;*/
    grid-area: headerL;
}

.header_left{
    color: var(--color-terciario);
    width: 100%;
    height: 100%;
    padding: 0em 3em;
    font-size: 2.5em;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_header__right{
    /*background: blue;*/
    grid-area: headerR;
}

.header_right{
    /*background: yellow;*/
    width: 100%;
    height: 13vh;
}

.header_list{
    /*background: teal;*/
    width: 100%;
    height: 100%;
    padding: 0em 3em;
    list-style: none;
    gap: 3em;
    display: flex;
    justify-content: end;
    align-items: center;
}

.header_button{
    background: var(--color-secundario);
    color: var(--color-primario);
    border: none;
    width: 10em;
    height: 4vh;
    font-size: 1.27em;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
}

.header_button:hover{
    border: 1px solid var(--color-primario);
    color: var(--color-terciario);
}

.main{
    width: 100%;
    height: 90vh;
}

.container_main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    ". . . . . . ."
    ". . . . imagen imagen ."
    ". titulo titulo titulo imagen imagen ."
    ". texto texto . imagen imagen ."
    ". boton boton . imagen imagen ."
    ". . . . imagen imagen ."
    ". . . . . . ."
    ;
}

.item_main__title{
/*background: red;*/
grid-area: titulo;
}

.main__title{
    /*background: darkgray;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_main{
    color: var(--color-terciario);
    padding: 0em 1em;
    font-size: 5em;
    letter-spacing: .05em;
    text-transform: capitalize;
}

.item_main__text{
    /*background: blanchedalmond;*/
    grid-area: texto;
}

.main__text{
    /*background: red;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.text_main{
    color: var(--color-primario);
    padding: 0em 4.4em;
    font-size: 1.7em;
}

.text_bigger{
    text-transform: capitalize;
}

.item_main__button{
    /*background: lightpink;*/
    grid-area: boton;
}

.main__button{
    /*background: lightseagreen;*/
    width: 100%;
    height: 100%;
    padding: 0px 7.5em;
    display: flex;
    align-items: center;
}

.button_main{
    background: var(--color-terciario);
    color: var(--color-primario);
    border: 1px solid var(--color-terciario);
    width: 8em;
    height: 2.1em;
    font-size: 1.08em;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: .05em;
}

.item_main__image{
    /*background: darkgoldenrod;*/
    grid-area: imagen;
    display: flex;
    align-items: center;
}

.main__image{
    /*background: yellow;*/
    width: 100%;
    height: 100%;
}

.main__image .image_home{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container_about{
    background: var(--color-primario);
    width: 100%;
    height: 100vh;
}

