:root{
    --color-primario: #77c8e0;
    --color-secundario: #434982;
    --color-terciario: #3B3535;
    --color-cuarto: #4D2F2F;
    --color-quinto: #573232;
    --color-sexto: rgba(255, 255, 255, 0.719);
    --color-septimo: #228B22;
}