:root{
    --color-back_productos: #EFECEC;
    --color-letras_productos:#FFC436;
    --color-background: #3B3486;
    --color-letras:#FC6736;
    --color-back_descripcion: #FBF6EE;
    --color-iconos: #FFB0B0;
    --color-texto: #74E291;
    --color-boton: #87A922;
    --color-blanco: #fff;
}