:root{
    --color-back_productos: #EFECEC;
    --color-letras_productos:#FC6736;
    --color-background: #0C2D57;
    --color-letras: #FCDC2A;
    --color-back_descripcion: #FBF6EE;
    --color-iconos: #FFB0B0;
    --color-texto: #74E291;
    --color-boton: #87A922;
    --color-blanco: #fff;
}