<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/carrito.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="grid">
        <div class="container_header">
            <header>
                <section class="header_box">
                    <article class="header_title">
                        <h1 class="title__header">CampusShop</h1>
                    </article>
                    <article class="header_list">
                        <nav id="header">
                            <ul class="ul_list">
                                <a href="/index.html" class="a">
                                    <li class="list_objects">
                                        <i class='bx bx-shopping-bag' ></i>
                                        Todos los productos
                                    </li>
                                </a>
                                <a href="/views/abrigos.html" class="a">
                                    <li class="list_objects">
                                        <i class='bx bx-cloud-snow'></i>
                                        Abrigos
                                    </li>
                                </a>
                                <a href="/views/camisetas.html" class="a">
                                    <li class="list_objects">
                                        <i class='bx bxs-t-shirt'></i>
                                        Camisetas
                                    </li>
                                </a>
                                <a href="/views/pantalones.html" class="a">
                                    <li class="list_objects">
                                        <i class='bx bxs-arch'></i>
                                        Pantalones
                                    </li>
                                </a>
                            </ul>
                        </nav>
                    </article>
                </section>
            </header>
        </div>
        <div class="container_main">
            <main class="main">
                <section class="main_box">
                    <section class="main__header">
                        <article class="main__title">
                            <h1>carrito</h1>
                        </article>
                    </section>
                    <section class="contenedor_main__mid">
                        <section class="contenedor_main__box1">
                            <article class="mid_img">
                                <img src="/storage/img/pantalon01.png" class="box_img">
                            </article>
                            <article class="mid_description">
                                <h4>nombre</h4>
                                <p>pantalones 01</p>
                            </article>
                            <article class="mid_quantity">
                                <article class="quantity_text">
                                    <h4>cantidad</h4>
                                </article>
                                <article class="quantity_input">
                                    <input type="number" placeholder="2" class="input">
                                </article>
                            </article>
                            <article class="mid_price">
                                <h4>precio</h4>
                                <p>$58.900</p>
                            </article>
                            <article class="mid_total">
                                <h4>subtotal</h4>
                                <p>$117.800</p>
                            </article>
                            <article class="mid_icon">
                                <i class='bx bxs-trash'></i>
                            </article>
                        </section>
                        <br>
                        <section class="contenedor_main__box2">
                            <article class="mid_img">
                                <img src="/storage/img/abrigo02.png" class="box_img">
                            </article>
                            <article class="mid_description">
                                <h4>nombre</h4>
                                <p>abrigo 02</p>
                            </article>
                            <article class="mid_quantity">
                                <article class="quantity_text">
                                    <h4>cantidad</h4>
                                </article>
                                <article class="quantity_input">
                                    <input type="number" placeholder="1" class="input">
                                </article>
                            </article>
                            <article class="mid_price">
                                <h4>precio</h4>
                                <p>$93.900</p>
                            </article>
                            <article class="mid_total">
                                <h4>subtotal</h4>
                                <p>$93.900</p>
                            </article>
                            <article class="mid_icon">
                                <i class='bx bxs-trash'></i>
                            </article>
                        </section>
                        <br>
                        <section class="contenedor_main__box3">
                            <article class="mid_img">
                                <img src="/storage/img/camiseta03.png" class="box_img">
                            </article>
                            <article class="mid_description">
                                <h4>nombre</h4>
                                <p>camiseta 03</p>
                            </article>
                            <article class="mid_quantity">
                                <article class="quantity_text">
                                    <h4>cantidad</h4>
                                </article>
                                <article class="quantity_input">
                                    <input type="number" placeholder="1" class="input">
                                </article>
                            </article>
                            <article class="mid_price">
                                <h4>precio</h4>
                                <p>$29.900</p>
                            </article>
                            <article class="mid_total">
                                <h4>subtotal</h4>
                                <p>$29.900</p>
                            </article>
                            <article class="mid_icon">
                                <i class='bx bxs-trash'></i>
                            </article>
                        </section>
                        <br>
                        <section class="contenedor_main__bottom">
                            hola
                        </section>
                    </section>
                </section>
            </main>
        </div>
        <div class="container_footer">
            <footer>
                <section class="footer box">
                    <article class="footer_list">
                        <ul class="footer__ul_list">
                            <a href="/views/carrito.html" class="a">
                                <li class="list__footer_objects">
                                    <i class='bx bxs-cart'></i>
                                    carrito
                                    <p class="footer__list_p">3</p>
                                </li>
                            </a>
                        </ul>
                    </article>
                    <article class="footer_text">
                        <p class="footer_p">© 2023 camper</p>
                    </article>
                </section>
            </footer>
        </div>
    </div>